* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul {
    list-style: none;
}

:root {
    --textColor: #7b68ee;
    --textColor2: #2589f6;
    --colorblack: #000;
    --bgcolor: #fff;
    --colorwhite: #fff;
    --btnHoverColor: #4070F4;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #EDEDED;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    cursor: pointer;
    text-transform: uppercase;

}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Style the logo */
.logo h1 {
    color: var(--colorwhite);
    font-size: 18px;

}

.upper-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    background-color:   background-color: var(--textColor); ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 50px;
}

.mainHeader {

    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.6);
    background-color:black;
    color:white;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 100;
    height: 60px;
}


.lower-navbar {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}








.linksIcon {
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.link-item {
    color: white;
    text-decoration: none;
    text-align: center;
    margin-left: 5px;
    margin-top: 8px;
}

.searchBar {
    border: 2px solid white;
    padding: 3px 3px;
    border-radius: 4px;
    margin-left: 80px;
}

.searchBarInput {
    outline: none;
    border: none;
    padding: 2px 2px;
    background-color: transparent;
}

.searchBar i {
    color: white;
    cursor: pointer;
    margin: 0 3px;
}

.searchBarInput::placeholder {
    color: white;
    /* Change this to your desired color */
    font-style: italic;
    /* Optional: Change other styles */
}

.upperIcons {
    margin-right: 30px;
}

.upperIcons i {
    margin: 0 6px;
    font-size: 18px;
    cursor: pointer;
}


.btn {
    color: var(--colorwhite);
    background-color: var(--textColor2);
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    transition: transform .2s cubic-bezier(.785, .135, .15, .86), background-color .2s cubic-bezier(.785, .135, .15, .86);
    letter-spacing: .4px;
    padding: 0 20px;
    height: 28px;
    color:black;
    border-radius: 7px;
    cursor: pointer;
    /* box-shadow: 0 5px 20px #7b68ee80; */
    border: 2px solid white;

}

.btn:hover {
    background-color: var(--btnHoverColor);
}

.linksIcon .searchBar {
    border: 2px solid white;
    padding: 3px 3px;
    border-radius: 4px;
    margin-left: 80px;
}

.searchBarInput {
    outline: none;
    border: none;
    padding: 2px 2px;
    background-color: transparent;
    width: 200px;
    color: white;

}

.searchBar i {
    color: white;
    cursor: pointer;
    margin: 0 3px;
}

.searchBarInput::placeholder {
    color: white;
    /* Change this to your desired color */
    font-style: italic;
    /* Optional: Change other styles */
}

.upperIcons {
    margin-right: 30px;
}

.upperIcons i {
    margin: 0 6px;
    font-size: 18px;
    cursor: pointer;
}

.headingText {
    text-decoration: underline;
    font-size: 22px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.box-data {
    position: relative;
    top: 130px;
    left: 10px;

}

.boxes {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box {
    background-color: white;
    width: 230px;
    height: 150px;
    border-radius: 5px;

}

.Number-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 25px;
}

.boxHeading {
    text-align: center;
    padding: 6px;
    font-size: 18px;
}

.tNumber {
    font-size: 25px;
}


/* Voter Tally Graph and Details */
.voterTally {
    position: relative;
    top: 160px;
}

.container {
    position: absolute;
    top: 50px;
    /* Adjust as needed */
    right: 12px;
    /* Adjust to move it horizontally */
    display: flex;
    /* Use flexbox for layout control */
    align-items: center;
    /* Center items vertically */
    width: 200px;
}

/* Optional style for the label */
label {
    text-align: right;
    /* Aligns label text to the right */
    margin-right: 10px;
    /* Adjust spacing between label and select box */
}

/* Style for the select box */
select {
    width: 150px;
    /* Optional: Set a specific width for the select box */
    background-color: black;
    height: 30px;
}

.tableElection {
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 40px;
}
#btnAddNewElection{
    border-radius: 4px;
    padding:8px 2px;
    height: 30px;
    width: 160px;
    border: 2px solid var(--textColor2);
    margin-right: 0px;
}
.popup{
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%) scale(1.25);
    width: 700px;
    height: 600px;
    background: #fff;
    padding: 40px 40px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,opacity 200ms ease-in-out 0ms,transform 200ms ease-in-out 0ms;
    display: none;
}
.popup.active{
    top: 30%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,opacity 200ms ease-in-out 0ms,transform 200ms ease-in-out 0ms;
    z-index: 1000;
    display: block;

}

.popup h2{
    text-align: center;

    font-size: 28px;
    font-weight: 500;
    margin: 5px 0 10px;

}
.popup .form .form-element{
    margin: 15px 0;
    
}
.popup .form .form-element label{
    font-size: 14px;
    color: #222;
    
}
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;


}

.popup .form .form-element button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: var(--textColor2);
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

}
.popup .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 20px;
    border-radius: 15px;
    cursor: pointer;
}
#btnSave{
    border-radius: 8px;
    padding:8px 8px;
    height: 35px;
    width: 180px;
    border: 2px solid var(--textColor2);
}
.box-data2{
    width: 50%;
    margin: auto;
}
.new-btn{
    height: 25px;
    width: 160px;
}
.select-text{
    height: 35px;
}
.tableElectionCandidate{
    margin-top: 160px;
}
select{
    height: 35px;
}